
{% extends "layouts.html" %}

{% block css %}

{% endblock %}

{% block content %}
  <div class="container-fluid">
  {% if data %}
    {% for k,v in data %}
    <div class="row">
     <div class="weui-media-box__bd" >
            <h2 >{{v.title}}</h2>
            <div class="swiper-container" >
            <p >
             {% autoescape false %}
            {{v.content}}
            {% endautoescape %}
            </p>
             </div>
          </div>  
    </div>
    {% endfor %}
      {% endif %}
</div>


{% endblock %}

{% block js %}

{% endblock %}


