
{% extends "layouts.html" %}

{% block css %}

{% endblock %}

{% block content %}
  <div class="container-fluid">
  {% if data %}
    {% for k,v in data %}
    <div class="row">
     <div class="weui-media-box__bd" >
            <h2 >{{v.title}}</h2>
            <div class="swiper-container" style="width:300px; height:100%; margin-top:20px; "  >
            
            <p >{{v.content}}</p>
             </div>
          </div>  
    </div>
    {% endfor %}
      {% endif %}
</div>


{% endblock %}

{% block js %}

{% endblock %}


