{% extends "layouts.html" %}

{% block css %}
<link rel="stylesheet" href="{{appsPath}}/recreationArticle/css/index.css">
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="weui-panel weui-panel_access">
        <div class="weui-panel__bd">
          <div class="weui-media-box weui-media-box_text">
            <h4 class="title">{{data.title}}</h4>
            <div class="weui-media-box__desc tips">
                {{data.tips}}
            </div>
          </div>
        </div>
        <div class="weui-panel__ft">
          <div class="weui-media-box weui-media-box_text">
            <h4 class="weui-media-box__title cover-box">
                <img src="{{data.cover_path}}">
            </h4>
            <div class="content-box">
                {% autoescape false %}
                  {{data.content}}
                {% endautoescape %}
            </div>

            {% if data.beData %}
              <div class="weui-grids">
                  <a href="javascript:;" class="weui-grid js_grid" {% if data.qq_show == false %}onclick="getInfo(1,{{data.id}},{{data.beData.qq_money}});"{% endif %}>
                    <div class="weui-grid__icon">
                      <img src="{{appsPath}}/recreationArticle/img/qq.png">
                    </div>
                    <div class="weui-grid__label">
                      {% if data.qq_show == false %}获取QQ号{% else %}{{data.qq_show}}{% endif %}
                    </div>
                  </a>
                  <a href="javascript:;" class="weui-grid js_grid" {% if data.wechat_show == false %}onclick="getInfo(2,{{data.id}},{{data.beData.wechat_money}});"{% endif %}>
                    <div class="weui-grid__icon">
                      <img src="{{appsPath}}/recreationArticle/img/wechat.png">
                    </div>
                    <div class="weui-grid__label">
                      {% if data.wechat_show == false %}获取微信号{% else %}{{data.wechat_show}}{% endif %}
                    </div>
                  </a>
                  <a href="javascript:;" class="weui-grid js_grid" {% if data.phone_show == false %}onclick="getInfo(3,{{data.id}},{{data.beData.phone_money}});"{% endif %}>
                    <div class="weui-grid__icon">
                      <img src="{{appsPath}}/recreationArticle/img/phone.png">
                    </div>
                    <div class="weui-grid__label">
                      {% if data.phone_show == false %}获取手机号{% else %}{{data.phone_show}}{% endif %}
                    </div>
                  </a>
              </div>
            {% endif %}

          </div>
        </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
<script src="{{appsPath}}/recreationArticle/js/index.js"></script>
{% endblock %}

