{% extends "layouts.html" %}

{% block css %}
<link rel="stylesheet" href="{{appsPath}}/recreationArticle/css/indexAll.css">
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="weui-panel weui-panel_access">
      <div class="weui-panel__hd title">{{cname}}</div>
      <div class="weui-panel__bd">
        {% for k,v in data %}
        <a href="/recreationArticle/index/id/{{v.id}}" class="weui-media-box weui-media-box_appmsg">
          <div class="weui-media-box__hd">
            <img class="weui-media-box__thumb" src="{{v.cover_path}}">
          </div>
          <div class="weui-media-box__bd">
            <h4 class="weui-media-box__title">{{v.title}}</h4>
            <p class="weui-media-box__desc">{{v.tips}}</p>
          </div>
        </a>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block js %}

{% endblock %}

