{% extends "layouts.html" %}

{% block css %}
<link rel="stylesheet" href="{{appsPath}}/staffs/css/index.css">
{% endblock %}

{% block content %}
<!-- <div class="container-fluid">
  <div class="row staff-box">
    <div class="col-xs-12">
      <button type="button" class="btn btn-primary btn-sm">申请提现</button>
    </div>
  </div>
  <div class="row gold-box">
    <div class="col-xs-12"><span class="residue-tips">¥</span>1176<span class="residue-tips">元</span></div>
  </div>
  <div class="row recharge-box">
    <div class="col-xs-12">累计邀请人数</div>
    <div class="col-xs-12 recharge-box-item">
      111
    </div>
  </div>
  <div class="row pay-box">
    <div class="col-xs-12">
      <button type="button" class="btn btn-danger btn-lg btn-block" id="gotoPay" onclick="gotoPay();">立即支付</button>
    </div>
  </div>
</div> -->

<div class="weui-msg">
  <div class="weui-msg__icon-area headimgurl-box">
    <img src="{{userinfo.headimgurl}}" class="img-responsive">
  </div>
  <div class="weui-msg__text-area">
    <h2 class="weui-msg__title">{{userinfo.nickname}}</h2>
    <div class="weui-msg__desc staff-desc">
        <p>- 邀请人数：<span class="staff-desc-figure">137 </span>-</p>
        <p>- 收益金额：<span class="staff-desc-figure">¥{{userinfo.push_money}} </span>-</p>
    </div>
  </div>
  <div class="weui-msg__opr-area">
    <p class="weui-btn-area">
      <a href="javascript:;" class="weui-btn weui-btn_primary" onclick="apply('{{userinfo.push_money}}');">申请提现</a>
      <a href="javascript:;" class="weui-btn weui-btn_default" onclick="share();">分享二维码（获取更多收益）</a>
    </p>
  </div>
  <div class="weui-msg__extra-area">
    <div class="weui-footer">
      <p class="weui-footer__links">
        <a href="javascript:void(0);" class="weui-footer__link">重庆存己科技提供技术支持</a>
      </p>
      <p class="weui-footer__text">Copyright © getcunji.com</p>
    </div>
  </div>
</div>


{% endblock %}

{% block js %}
<script src="{{appsPath}}/staffs/js/index.js"></script>
{% endblock %}

