{% extends "layouts.html" %}

{% block css %}
<link rel="stylesheet" href="{{appsPath}}/staffs/css/index.css">
{% endblock %}

{% block content %}
<div class="weui-msg">
  <div class="weui-msg__icon-area headimgurl-box">
    <img src="{{userinfo.headimgurl}}" class="img-responsive">
  </div>
  <div class="weui-msg__text-area">
    <h2 class="weui-msg__title">{{userinfo.nickname}}</h2>
    <div class="weui-msg__desc staff-desc">
      {% if userData.type == 1 %}
        <p>- 当前身份：<span class="staff-desc-figure">总代理 </span>-</p>
        <p>- 代理商总数：<span class="staff-desc-figure">{{totalCount.agentCount}} </span>-</p>
        <p>- 经销商总数：<span class="staff-desc-figure">{{totalCount.agencyCount}} </span>-</p>
        <p>- 普通用户总数：<span class="staff-desc-figure">{{totalCount.generalCount}} </span>-</p>
      {% elseif userData.type == 2 %}
        <p>- 当前身份：<span class="staff-desc-figure">代理商 </span>-</p>
        <p>- 经销商总数：<span class="staff-desc-figure">{{totalCount.agencyCount}} </span>-</p>
        <p>- 普通用户总数：<span class="staff-desc-figure">{{totalCount.generalCount}} </span>-</p>
      {% elseif userData.type == 3 %}
        <p>- 当前身份：<span class="staff-desc-figure">经销商 </span>-</p>
        <p>- 普通用户总数：<span class="staff-desc-figure">{{totalCount.generalCount}} </span>-</p>
      {% endif %}
        <p>- 收益金额：<span class="staff-desc-figure">¥{{userData.push_money}} </span>-</p>
    </div>
  </div>
  <div class="weui-msg__opr-area">
    <p class="weui-btn-area">
      <a href="javascript:;" class="weui-btn weui-btn_primary" onclick="apply('{{push_money}}');">申请提现</a>
      <a href="javascript:;" class="weui-btn weui-btn_default" onclick="share();">分享邀请码（获取更多收益）</a>
    </p>
  </div>
  <!-- <div class="weui-msg__extra-area">
    <div class="weui-footer">
      <p class="weui-footer__links">
        <a href="javascript:void(0);" class="weui-footer__link">重庆存己科技提供技术支持</a>
      </p>
      <p class="weui-footer__text">Copyright © getcunji.com</p>
    </div>
  </div> -->
</div>
{% endblock %}

{% block js %}
<script src="{{appsPath}}/staffs/js/index.js"></script>
{% endblock %}

