{% extends "layouts.html" %}

{% block css %}

{% endblock %}

{% block content%}

<!-- Page -->
<div class="page animsition">
  <div class="page-header">
    <h1 class="page-title"># 用户管理</h1>
  </div>
  <div class="page-content">
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title">@ 微信用户列表</h3>
      </div>
      <div class="panel-body">
        <form action="/admin/user/index/type/{{type}}/pid/{{pid}}" method="post">
          <div class="input-group" style="width: 300px;float: right;margin-right: 30px;">
            <input type="text" class="form-control" name="search" placeholder="请输入用户昵称">
            <span class="input-group-btn">
              <button type="submit" class="btn btn-primary"><i class="icon wb-search" aria-hidden="true"></i></button>
            </span>
          </div>
        </form>
        <ul class="nav nav-pills">
          <li role="presentation" {% if type == 0 %}class="active"{% endif %}><a href="/admin/user/index/type/0">普通用户</a></li>
          <li role="presentation" {% if type == 1 %}class="active"{% endif %}><a href="/admin/user/index/type/1">总代理</a></li>
          <li role="presentation" {% if type == 2 %}class="active"{% endif %}><a href="/admin/user/index/type/2">代理商</a></li>
          <li role="presentation" {% if type == 3 %}class="active"{% endif %}><a href="/admin/user/index/type/3">经销商</a></li>
        </ul>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>头像</th>
              <th>昵称</th>
              <th>所在地</th>
              <th>剩余金币</th>
              {% if type %}
              <th>姓名</th>
              <th>手机号码</th>
              {% endif %}
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
          {% if data %}
          {% for k,v in data %}
            <tr>
              <td></td>
              <td><img src="{{v.headimgurl}}" class="img-responsive" style="width: 90px;height: 90px;"></td>
              <td>{{v.nickname}}</td>
              <td>{{v.country}} - {{v.province}} - {{v.city}}</td>
              <td>{{v.residue}}</td>
              {% if type %}
                {% if v.sData == false %}
                <td>待完善</td>
                <td>待完善</td>
                {% else %}
                <td>{{v.sData.cname}}</td>
                <td>{{v.sData.phone}}</td>
                {% endif %}
              {% endif %}
              <td>
                {% if type == 0 and v.pid == 0 %}
                  <button type="button" class="btn btn-primary btn-xs" onclick="commonality({{ v.id }});">设置为总代理</button>
                {% endif %}
                {% if v.sData == false and type != 0 %}
                  <button type="button" class="btn btn-primary btn-xs" onclick="staffs({{ v.id }});">完善个人信息</button>
                {% endif %}
                {% if type %}
                  <button type="button" class="btn btn-primary btn-xs" onclick="grade({{type}},{{ v.id }});">下级用户</button>
                  <button type="button" class="btn btn-success btn-xs" onclick="withdrawal({{ v.id }});">提现记录</button>
                {% endif %}
                <button type="button" class="btn btn-success btn-xs" onclick="recharge({{ v.id }});">充值记录</button>
              </td>
            </tr>
          {% endfor %}
          {% else %}
            <tr>
              <td colspan="4">
                <blockquote>
                  <p>暂无数据 :(</p>
                </blockquote>
              </td>
            </tr>
          {% endif %}
          </tbody>
        </table>
          <div style="float: right;">
            {% autoescape false %}
              {{ page }}
            {% endautoescape %}
          </div>
      </div>
    </div>
  </div>
</div>
<!-- End Page -->

<!-- 完善个人信息 Modal -->
<div id="staffsModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">@ 完善个人信息</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" id="staffsForm" method="post">
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">姓名</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="cname" placeholder="请输入用户真实姓名">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">手机号码</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="phone" placeholder="请输入手机号码">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-default">提 交</button>
            </div>
          </div>
        </form>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% endblock %}

{% block js %}
<script src="{{appsPath}}/user/js/index.js"></script>
{% endblock %}