{% extends "layouts.html" %}

{% block css %}

{% endblock %}

{% block content%}

<!-- Page -->
<div class="page animsition">
  <div class="page-header">
    <h1 class="page-title"># 用户管理</h1>
  </div>
  <div class="page-content">
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title">@ 微信用户列表</h3>
      </div>
      <div class="panel-body">
        <form action="/admin/user/index" method="post">
          <div class="input-group" style="width: 300px;float: right;margin-right: 30px;">
            <input type="text" class="form-control" name="search" placeholder="请输入关键字">
            <span class="input-group-btn">
              <button type="submit" class="btn btn-primary"><i class="icon wb-search" aria-hidden="true"></i></button>
            </span>
          </div>
        </form>
        <ul class="nav nav-pills">
          <li role="presentation" {% if type == 0 %}class="active"{% endif %}><a href="/admin/user/index/type/0">普通用户</a></li>
          <li role="presentation" {% if type == 1 %}class="active"{% endif %}><a href="/admin/user/index/type/1">总代理</a></li>
          <li role="presentation" {% if type == 2 %}class="active"{% endif %}><a href="/admin/user/index/type/2">代理商</a></li>
          <li role="presentation" {% if type == 3 %}class="active"{% endif %}><a href="/admin/user/index/type/3">经销商</a></li>
        </ul>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>头像</th>
              <th>昵称</th>
              <th>所在地</th>
              <th>剩余金币</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
          {% if data %}
          {% for k,v in data %}
            <tr>
              <td></td>
              <td><img src="{{v.headimgurl}}" class="img-responsive" style="width: 90px;height: 90px;"></td>
              <td>{{v.nickname}}</td>
              <td>{{v.country}} - {{v.province}} - {{v.city}}</td>
              <td>{{v.residue}}</td>
              <td>
                <button type="button" class="btn btn-primary btn-xs" onclick="edit({{ v.id }});">设置为总代理</button>
                <button type="button" class="btn btn-default btn-xs" onclick="del({{ v.id }});">充值记录</button>
              </td>
            </tr>
          {% endfor %}
          {% else %}
            <tr>
              <td colspan="4">
                <blockquote>
                  <p>暂无数据 :(</p>
                </blockquote>
              </td>
            </tr>
          {% endif %}
          </tbody>
        </table>
          <div style="float: right;">
            {% autoescape false %}
              {{ page }}
            {% endautoescape %}
          </div>
      </div>
    </div>
  </div>
</div>
<!-- End Page -->

{% endblock %}

{% block js %}

{% endblock %}