{% extends "layouts.html" %}

{% block css %}

{% endblock %}

{% block content%}

<div class="page animsition">
  <div class="page-header">
    <h1 class="page-title"># 用户管理</h1>
  </div>
  <div class="page-content">
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title">@ 提现记录列表</h3>
      </div>
      <div class="panel-body">
         <form action="/admin/withdrawalRecord/index/uid/{{uid}}/status/{{status}}" method="post">
          <div class="input-group" style="width: 300px;float: right;margin-right: 30px;">
            <input type="text" class="form-control" name="search" placeholder="请输入订单编号">
            <span class="input-group-btn">
              <button type="submit" class="btn btn-primary"><i class="icon wb-search" aria-hidden="true"></i></button>
            </span>
          </div>
        </form>
        <ul class="nav nav-pills">
          <li role="presentation" {% if status == 0 %}class="active"{% endif %} ><a href="/admin/withdrawalRecord/index/uid/{{uid}}/status/0">默认</a></li>
          <li role="presentation" {% if status == 1 %}class="active"{% endif %} ><a href="/admin/withdrawalRecord/index/uid/{{uid}}/status/1">失败</a></li>
          <li role="presentation" {% if status == 2 %}class="active"{% endif %} ><a href="/admin/withdrawalRecord/index/uid/{{uid}}/status/2">成功</a></li>
        </ul>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>订单编号</th>
              <th>提现金额</th>
              <th>时间</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
          {% if data %}
          {% for k,v in data %}
            <tr>
            {% if status == 0 %}
              <td>{默认}</td>
		        {% elseif status == 1 %}
			        <td class="text-danger">{失败}</td>
		      	{% else %}
			        <td class="text-success">{成功}</td>
		      	{% endif %}
              <td>{{v.orderid}}</td>
              <td>{{v.money}}</td>
              <td>{{v.ctime|date("Y-m-d H:i")}}</td>
            {% if status == 0 %}
              <td>
                <button type="button" class="btn btn-primary btn-xs" onclick="commonality({{ v.id }},2);">成功</button>
                <button type="button" class="btn btn-primary btn-xs" onclick="commonality({{ v.id }},1);">失败</button>
              </td>
            {% endif %}
            </tr>
          {% endfor %}
          {% else %}
            <tr>
              <td colspan="4">
                <blockquote>
                  <p>暂无数据 :(</p>
                </blockquote>
              </td>
            </tr>
          {% endif %}
          </tbody>
        </table>

          <div style="float: right;">
            {% autoescape false %}
              {{ page }}
            {% endautoescape %}
          </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block js %}
<script src="/apps/admin/views/withdrawalRecord/js/index.js"></script>
{% endblock %}
