<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->

    <title>{{websiteName}}</title>

    <!-- Bootstrap -->
    <link href="/vendor/twbs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- jQuery WeUI -->
    <link rel="stylesheet" href="/public/jquery-weui-build/dist/lib/weui.min.css">
    <link rel="stylesheet" href="/public/jquery-weui-build/dist/css/jquery-weui.min.css">

    <!-- layouts css -->
    <link rel="stylesheet" href="{{appsPath}}/layouts/css/layouts.css">

    {% block css %}

    {% endblock %}

  </head>
  <body>



  {% block content %}

  {% endblock %}

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/vendor/components/jquery/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/vendor/twbs/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- jQuery WeUI -->
    <script src="/public/jquery-weui-build/dist/js/jquery-weui.min.js"></script>
    <script src="/public/jquery-weui-build/dist/js/swiper.min.js"></script>
    <script src="/public/jquery-weui-build/dist/js/city-picker.min.js"></script>
    <script src='/public/jquery-weui-build/dist/js/swiper.js' ></script>

    <!-- layouts js -->
    <script src="{{appsPath}}/layouts/js/layouts.js"></script>

  {% block js %}

  {% endblock %}

  </body>
</html>