{% extends "layouts.html" %}

{% block css %}

{% endblock %}

{% block content %}

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
  {% if banner %}
          {% for k,v in banner %}
{% if v.id == 1 %}
    <li data-target="#carousel-example-generic" data-slide-to="{{v.id}}" class="active"></li>
{% else %}  
    <li data-target="#carousel-example-generic" data-slide-to="{{v.id}}"></li>
    {% endif %}
   {% endfor %}
      {% endif %}
  </ol>
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
  {% if banner %}
          {% for k,v in banner %}
{% if v.id == 1 %}
    <div class="item active" >
      <img src="{{v.path}}"  alt="...">
    </div>
 {% else %}   
 <div class="item" >
      <img src="{{v.path}}"  alt="...">
    </div>
{% endif %}
   {% endfor %}
      {% endif %}
  </div>
</div>

 <!-- 容器 -->
<div class="weui-tab">
  <div class="weui-navbar" >
    {% if data %}
          {% for k,v in data %}

          {% if k == type %}
      <button class="weui-navbar__item " style="border:none; outline:none; color:green;" id="b{{v.id}}" onclick="ePass({{ v.id }},'{{ k }}');">
      {{v.cname}}
    </button>
          {% else %}
       <button class="weui-navbar__item " style="border:none; outline:none; color:gray;"  id="b{{v.id}}" onclick="ePass({{ v.id }},'{{ k }}');">
      {{v.cname}}
    </button>
          {% endif %}
   {% endfor %}
    {% endif %}
  </div>
  <div class="weui-tab__bd">
   <div class="weui-panel__bd">
	   <div id="tab1" class="weui-tab__bd-item weui-tab__bd-item--active">
     {% if data1==false %}
   
      <div class="weui-loadmore weui-loadmore_line">
         <span class="weui-loadmore__tips">此地正在建设当中，敬请期待</span>
     </div>
     {% else %}
		   {% if data1 %}
          {% for k,v in data1 %}
		   <a href="/recreationIv/index/id/{{v.id}}" class="weui-media-box weui-media-box_appmsg"  style="text-decoration:none;">
		      <div class="weui-media-box__hd">
		        <img class="weui-media-box__thumb" src="{{v.cover_path}}">
		      </div>
		      <div class="weui-media-box__bd">
		        <h4 class="weui-media-box__title">{{v.title}}</h4>
            
		        <p class="weui-media-box__desc">
                 {{v.tips}} 
            </p>
          
		      </div>
		    </a>
		     {% endfor %}
    {% endif %}
    {% endif %}
	  </div>
		 <!--  <div id="tab2" class="weui-tab__bd-item">
		    <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
		      <div class="weui-media-box__hd">
		        <img class="weui-media-box__thumb" src="/admin/2017-9-11/03.jpg">
		      </div>
		      <div class="weui-media-box__bd">
		        <h4 class="weui-media-box__title">标题二</h4>
		        <p class="weui-media-box__desc">由各种物质组成的巨型球状天体，叫做星球。星球有一定的形状，有自己的运行轨道。</p>
		      </div>
		    </a>
		    </div> -->
	  <!-- <div id="tab3" class="weui-tab__bd-item">
      <h4>此地正在建设当中，敬请期待</h4>
    </div> -->
      <!-- <div id="tab4" class="weui-tab__bd-item">
      <h4>此地正在建设当中，敬请期待</h4>
    </div> -->
  </div>
  </div>
</div>


{% endblock %}

{% block js %}
<script src="/apps/home/views/recreation/js/index.js"></script>

<script type="text/javascript">  
    var mySwiper = new Swiper(".swiper-container",{  
        direction:"horizontal",/*横向滑动*/  
        loop:true,/*形成环路（即：可以从最后一张图跳转到第一张图*/  
        autoplay:3000/*每隔3秒自动播放*/  
    })  
</script> 
{% endblock %}